{% extends "base.html.twig" %}

{# Définition du thème personnalisé pour le formulaire de mot de passe #}
{% form_theme passwordForm "form/_custom_profile_themes.html.twig" %}

{% block body %}

    <main role="main">

        <div class="py-12">

            {# Titre principal de la page #}
            <h1 class="text-4xl mb-8 font-bold text-center">
                Réinitialisation de votre mot de passe
            </h1>

            {# Conteneur du formulaire avec largeur adaptée aux écrans moyens, fond blanc et ombre #}
            <div class="mt-6 p-5 mx-auto w-full md:w-1/2 bg-white rounded-2xl shadow-balanced">

                {# Début du formulaire Symfony avec attributes supplémentaires #}
                {{ form_start(passwordForm, {'novalidate' : 'novalidate', 'attr': {'data-turbo': 'false', 'class': 'my-10'}}) }}

                    {# Rendu de tous les champs du formulaire #}
                    {{ form_widget(passwordForm) }}

                    {# Boutons de validation et d'annulation #}
                    <div class="button-group mt-7 flex justify-center items-center gap-6">
                        {# Lien pour annuler et revenir au profil #}
                        <a href="/profile" class="text-light-blue font-bold">
                            Annuler
                        </a>

                        {# Bouton de soumission #}
                        <button class="bg-sky-600 hover:bg-sky-700 text-white font-bold px-4 py-2 rounded-lg transition duration-300">
                            Valider
                        </button>
                    </div>

                {# Fin du formulaire #}
                {{ form_end(passwordForm) }}

            </div>

        </div>

    </main>

{% endblock %}