{% extends "base.html.twig" %}

{% form_theme passwordForm "form/_custom_profile_themes.html.twig" %}

{% block body %}

    <main role="main">

        <div class="py-12">

            <h1 class="text-4xl mb-8 font-bold text-center">
                Réinitialisation de votre mot de passe 2
            </h1>

            <div class="mt-6 p-5 mx-auto w-full md:w-1/2 bg-white rounded-2xl shadow-soft">

                {{ form_start(passwordForm, {'novalidate' : 'novalidate', 'attr': {'data-turbo': 'false', 'class': 'my-10'}}) }}

                    {{ form_widget(passwordForm) }}

                    <div class="button-group mt-7 flex justify-center items-center gap-6">
                        <a href="/profile" class="text-light-blue font-bold">
                            Annuler
                        </a>
                        <button class="bg-light-blue text-white font-bold px-4 py-2 rounded-lg">
                            Valider
                        </button>
                    </div>

                {{ form_end(passwordForm) }}

            </div>

        </div>

    </main>

{% endblock %}