{% extends "security/_layout.html.twig" %}

{% block title %}Confirmation de votre compte{% endblock %}

{% block content %}

    <div class="flex flex-col gap-2 items-stretch">

        {# Instruction pour l'utilisateur #}
        <p class="mt-4 text-left">
            Entrez le code reçu par email
        </p>

        {# Début du formulaire Symfony avec désactivation de Turbo pour éviter le comportement AJAX #}
        {{ form_start(form, {'attr': {'data-turbo': 'false', 'class': 'security'}}) }}

            {# Affichage des erreurs liées au champ "code" #}
            <div class="text-red-700 text-sm mb-2">
                {{ form_errors(form.code) }}
            </div>

            {# Champ pour saisir le code de confirmation avec style Tailwind #}
            {{ form_widget(form.code, {'attr' : {'class' : 'block w-full bg-white rounded-lg border border-gray-300 text-gray-900'}}) }}

            {# Bouton de soumission du formulaire #}
            <button class="mt-4 bg-sky-600 hover:bg-sky-700 text-white w-full font-bold py-3 text-base cursor-pointer rounded-lg transition duration-300">
                Confirmer
            </button>

        {# Fin du formulaire #}
        {{ form_end(form) }}

    </div>

{% endblock %}