{% extends "base.html.twig" %}

{% form_theme resetForm "form/_custom_profile_themes.html.twig" %}

{% block body %}

    <main role="main">

        <div class="py-12">

            <h1 class="text-4xl mb-8 font-bold text-sky-800 text-center w-full">
                Réinitialisation de votre mot de passe
            </h1>

            <div class="mt-16 p-5 mx-auto w-full md:w-2/3 xl:w-1/2 bg-white rounded-2xl shadow-soft">

                {{ form_start(resetForm, {'novalidate' : 'novalidate', 'attr': {'data-turbo': 'false', 'class': 'my-10'}}) }}

                    {{ form_widget(resetForm) }}

                    <div class="button-group mt-7 flex justify-center items-center gap-6">
                        <a href="{{ path('app_login') }}" class="text-sky-600 hover:text-sky-700 font-semibold">
                            Annuler
                        </a>
                        <button class="bg-sky-800 hover:bg-sky-700 text-white font-bold py-3 rounded-lg">
                            Valider
                        </button>
                    </div>

                {{ form_end(resetForm) }}

            </div>

        </div>

    </main>

{% endblock %}
