{% extends "base.html.twig" %}

{# Définition d'un thème personnalisé pour le formulaire de réinitialisation #}
{% form_theme resetForm "form/_custom_profile_themes.html.twig" %}

{% block body %}

    <main role="main">

        <div class="py-12">

            {# Titre principal centré #}
            <h1 class="text-4xl mb-8 font-bold text-center w-full">
                Réinitialisation de votre mot de passe
            </h1>

            {# Bloc du formulaire avec fond blanc, arrondi et ombre #}
            <div class="mt-16 p-5 mx-auto w-full md:w-2/3 xl:w-1/2 bg-white rounded-2xl shadow-soft">

                {# Début du formulaire Symfony avec classes personnalisées et désactivation de la validation HTML #}
                {{ form_start(resetForm, {'novalidate' : 'novalidate', 'attr': {'data-turbo': 'false', 'class': 'my-10'}}) }}

                    {# Rendu automatique de tous les champs du formulaire #}
                    {{ form_widget(resetForm) }}

                    {# Boutons de validation et d'annulation centrés et espacés #}
                    <div class="button-group mt-7 flex justify-center items-center gap-6">
                        {# Lien pour revenir à la page de connexion #}
                        <a href="{{ path('app_login') }}" class="text-sky-600 hover:text-sky-700 font-semibold">
                            Annuler
                        </a>
                        {# Bouton de soumission du formulaire #}
                        <button class="bg-sky-600 hover:bg-sky-700 text-white font-bold py-3 px-2 rounded-lg">
                            Valider
                        </button>
                    </div>

                {# Fin du formulaire Symfony #}
                {{ form_end(resetForm) }}

            </div>

        </div>

    </main>

{% endblock %}