<div
    data-energy-explanation-modal-target="modal"
    class="fixed inset-0 bg-black bg-opacity-50 items-center justify-center z-50 hidden"
>

    <div class="bg-white text-gray-700 px-6 pt-8 pb-6 rounded shadow-lg max-w-4xl w-full relative">

        <button data-action="energy-explanation-modal#close" class="absolute top-4 right-4 text-xl text-sky-600 hover:text-sky-700 font-bold">
			<svg class="w-5 h-5 text-sky-600" fill="none" viewbox="0 0 14 14" stroke="currentColor">
				<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"></path>
			</svg>
		</button>

        <h2 class="text-3xl font-bold mb-4">
            Calcul de vos besoins énergétiques journaliers
        </h2>

        <div 
            data-energy-explanation-modal-target="loader"
            class="hidden flex justify-center items-center py-12"
        >
            <div class="w-10 h-10 border-4 border-sky-300 border-t-sky-600 rounded-full animate-spin"></div>
        </div>

        <div data-energy-explanation-modal-target="content">
            
        </div>

    </div>

</div>
