
<div class="flex items-center gap-4 text-base" style="color: {{ levelAlert.color }}">
    {{ include('balance_sheet/_icon_warning.html.twig', { levelAlert: levelAlert, size: 32 }) }}
    {{ message|trans }}
</div>