{# Formulaire de recherche de menu de la semaine #}

{{ form_start(searchWeekMenuForm, {
    'attr' : {
        'class': 'ml-auto flex items-center gap-2', 
        'novalidate': 'novalidate',
        'data-controller': 'datepicker'
    }}) 
}}
    {# Champ de sélection de la semaine avec un contrôleur Stimulus pour le datepicker #}
    {{ form_widget(searchWeekMenuForm.week, {'attr': {'data-datepicker-target': 'input'}}) }}

    <div class="w-12">
        {# Bouton de soumission du formulaire #}

        <button type="submit" data-action="click->datepicker#handleSubmit" class="flex items-center font-bold rounded-full w-12 h-12 bg-sky-600 hover:bg-sky-700 text-current-color text-sm gap-2 cursor-pointer justify-center transition duration-300 shadow-soft">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-white" fill="none" viewbox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"></path>
            </svg>
        </button>
    </div>

{{ form_end(searchWeekMenuForm) }}
