### Application
APP_ENV=prod
APP_DEBUG=1
APP_SECRET=

### URLs
SITE_BASE_URL=

### Database
DATABASE_URL=

### Lock (Symfony Lock component)
LOCK_DSN=semaphore

### Mailer
MAILER_DSN=

### Messenger
MESSENGER_TRANSPORT_DSN=

### Traductions (Loco)
LOCO_DSN=

### Recherche - Typesense
TYPESENSE_URL=http://localhost:8108
TYPESENSE_KEY=
SEARCH_PREFIX=app_prod_

### Recherche - Algolia
ALGOLIA_APP_ID=
ALGOLIA_API_KEY=

### OAuth Google
OAUTH_GOOGLE_ID=
OAUTH_GOOGLE_SECRET=

### OAuth GitHub
OAUTH_GITHUB_ID=
OAUTH_GITHUB_SECRET=
