<div class="flex flex-row font-bold cursor-pointer text-sky-600 text-2xl md:text-4xl">
    {# Conteneur principal en ligne, texte gras, curseur pointer, couleur principale #}

    <div>Assiette&nbsp;</div>
    {# Première partie du nom de la marque avec espace insécable #}

    <div>idé<span class="text-lime-600">a</span>le</div>
    {# Deuxième partie du nom avec accentuation de la lettre "a" en lime-600 #}
</div>