<div 
    class="absolute rounded shadow-lg bg-white z-50 hidden" 
    style="width: 350px; top: {{ top }}; right: {{ right }}"
    data-popover-info-target="container"
>
  <div class="relative flex">
    <div class="bg-white absolute w-3 h-3 transform rotate-45 -mt-1"></div>
  </div>
  <div class="flex px-12 py-4" data-popover-info-target="content"></div>
</div>
