<div 
    class="search-container flex justify-end"
    {{ stimulus_controller('modal-nav-search') }}
>
    
    <a class="flex modal-nav-search-open modal-nav-search-open-mobile rounded-full w-12 h-12 items-center cursor-pointer" title="Cherchez des aliments ou des plats" alt="Cherchez des aliments ou des plats">
        <svg class="w-8 h-8 text-sky-600 hover:text-sky-700" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M15.7955 15.8111L21 21M18 10.5C18 14.6421 14.6421 18 10.5 18C6.35786 18 3 14.6421 3 10.5C3 6.35786 6.35786 3 10.5 3C14.6421 3 18 6.35786 18 10.5Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
    </a>  

    <!-- start modal-->
    <div class="modal-nav-search opacity-0 pointer-events-none fixed w-full h-full top-0 left-0 flex p-18 justify-center z-50 border">
        <div class="modal-nav-search-overlay absolute w-full h-full bg-gray-900 opacity-60"></div>
        <div class="modal-nav-search-container bg-white mx-auto rounded shadow-lg z-50 overflow-y-auto w-1/3">
        
        <!-- start close button -->
        <div class="modal-nav-search-close top-0 right-0 cursor-pointer flex flex-col items-center mt-2 mr-8">

            <!-- Bouton Fermer dans le flux -->
        <div class="p-4 flex absolute right-0 top-2">
            <button class="font-semibold text-light-blue flex items-center gap-2">
                <svg class="w-5 h-5" fill="none" viewBox="0 0 14 14" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                </svg>
            </button>
        </div>

        </div>
        <!-- end close button -->
    
        <div class="modal-nav-search-content py-4 text-left px-4 relative mt-12 overflow-auto flex-1">

            <div class="flex justify-between pb-3">
            <!-- Yext Answers Search Bar -->
            <div class="search_form w-full">

                <form>

                    <div 
                        {{ stimulus_controller('autocomplete', { url: path('meal_day_list_ajax'), skipHiddenProperty: true }) | stimulus_controller('autocomplete-transition', {}) }}
                        data-action="toggle->autocomplete-transition#toggle"
                        class="flex flex-col h-screen"
                    >

                        <input 
                            id="input--search-bar"
                            name="q"
                            type="search" 
                            class="block w-full rounded-xl border border-gray-300 text-3xl bg-white z-20"
                            placeholder="Aliment, plat..."
                            style="padding-left: 70px"
                            data-autocomplete-target="input"
                            data-autocomplete-transition-target="input"
                        >
                        
                        <div 
                            class="absolute top-28 left-0 h-9-10 w-full"
                            data-autocomplete-target="results"
                            data-autocomplete-transition-target="results"
                        >
                        
                        </div>

                        <div 
                            class="nav-search-illustration"
                            data-autocomplete-transition-target="illustration"
                        ></div>

                        <div 
                            class="loader hidden absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2" 
                            data-autocomplete-transition-target="loader">
                        </div>

                    </div>

                </form>
            
            </div>

            </div>

        </div>

        </div>

    </div>

</div>
  
