<div class="view-mode-switch flex">

    <ul role="group" class="button-group--bordered inline-flex">
        
        <li class="button-group-item flex items-center">
            
            <button 
                id="view-mode-grid"
                data-action="click->view-mode#grid"
                data-view-mode-target="gridBtn"
                class="rounded-l-lg flex flex-row gap-2 items-center view-mode-switch__display--selected px-4 py-2 current-shadow text-xs md:text-sm xl:text-base cursor-pointer"
            >
                 <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-layout-grid" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M4 4m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z"></path>
                    <path d="M14 4m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z"></path>
                    <path d="M4 14m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z"></path>
                    <path d="M14 14m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z"></path>
                </svg>
            </button>

        </li>

        <li 
            class="button-group-item flex items-center" 
        >
            <button 
                id="view-mode-list" 
                class="rounded-r-lg flex flex-row gap-2 items-center px-4 py-2 current-shadow cursor-pointer"
                data-action="click->view-mode#list"
                data-view-mode-target="listBtn"
            >

                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-list" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M9 6l11 0"></path>
                    <path d="M9 12l11 0"></path>
                    <path d="M9 18l11 0"></path>
                    <path d="M5 6l0 .01"></path>
                    <path d="M5 12l0 .01"></path>
                    <path d="M5 18l0 .01"></path>
                </svg>
                {# <span>Liste</span> #}
            </button>

        </li>

    </ul>

</div>