<!-- BEGIN: Logo -->
<a href="{{ path('app_homepage') }}" class="logo flex items-center -ml-2">
    <img class="w-14 mt-1" src="{{ absolute_url(asset('/images/logo2.png')) }}">
    <div class="flex flex-col mt-3 tracking-wide"></div>
</a>
<!-- END: Logo -->