<div class="container-picto">

<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="22px" height="22px" viewBox="0 0 31.354 31.354" style="enable-background:new 0 0 31.354 31.354;" xml:space="preserve"><g><g>
	<path d="M18.414,18.612l8.738-8.739l4.201,4.201l-8.738,8.739L18.414,18.612z M17.658,21.626l-0.646,2.59l2.588-0.647   L17.658,21.626z M22.806,24.069l1.911-1.912v8.81H0V8.748l7.919-8.361h16.797v10.474l-1.911,1.911V2.298H9.132V9.52H1.911v19.536   h20.895V24.069z M3.712,7.609h3.509V3.903L3.712,7.609z M20.395,15.183v-0.292H4.202v2.153h14.333L20.395,15.183z M17.226,19.147   H4.202v2.15h12.485L17.226,19.147z M4.202,25.743h11.374l0.538-2.151H4.202V25.743z" data-original="#0a4770" class="active-path" fill="#fff"/>
</svg>

</div>