<div style="margin-top:32px; text-align:center; font-weight:bold; font-size:32px; color:#0ea5e9; font-family: 'Poppins', Arial, sans-serif;">
    <span>Assiette&nbsp;</span>
    <span>idé<span style="color:#84cc16;">a</span>le</span>
</div>

<h1>Bonjour!</h1>

<p>Pour réinitialiser votre mot de passe, veuillez visiter le lien suivant</p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p>Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>

<p>Salutations!</p>

<div style="margin-top:32px; text-align:center; color:#6B7280; font-size:14px; font-family:Arial, sans-serif;">
    Assiette idéale © 2025 Copyright
</div>

