<div class="card card-wrapper shadow-balanced rounded-xl animate-pulse">

    {# Colonne gauche : image et nom de l’aliment (squelette) #}
    <div class="card-col-left">

        {# Placeholder pour l’image de l’aliment #}
        <div class="flex items-center justify-center h-full">
            <div class="rounded-md bg-gray-300 w-full h-[250px]"></div>
        </div>
        
        {# Placeholder pour le nom de l’aliment #}
        <div class="h-6 bg-gray-300 rounded w-1/2"></div>

    </div>

    {# Badges gluten/lactose (placeholders) #}
    <div class="flex flex-row gap-2">
        <div class="h-6 bg-gray-300 rounded"><span style="opacity: 0">SANS LACTOSE</span></div>
        <div class="h-6 bg-gray-300 rounded"><span style="opacity: 0">SANS LACTOSE</span></div>
    </div>

</div>