{# <div class="relative" style="width: 20rem">
    <input type="text" class="search__input form-control dark:bg-dark-1 border-transparent placeholder-theme-8" placeholder="Cherchez un aliment...">
    <i data-feather="search" class="search__icon dark:text-gray-300"></i>
</div> #}

<div class="relative text-gray-700 dark:text-gray-300">
    {# <input type="text" class="js-user-autocomplete search__input form-control py-3 px-4 w-full lg:w-64 box pr-10 placeholder-theme-8" 
        data-autocomplete-url={{ path('admin_utility_dishs') }} placeholder="Cherchez un aliment...">
    <i class="w-4 h-4 absolute my-auto inset-y-0 mr-3 right-0" data-feather="search"></i>  #}
    <div id="autocomplete"></div>
</div>
    
