
<div class="food-nutrition-values">
    <div class="flex flex-col items-center border-2 border-light-blue p-4 w-1/4">
        <label class="flex flex-row">Energie</label><span>{{ food.energy }} KCAL</span>
    </div>
    <div class="flex flex-col items-center border-2 border-light-blue p-4 w-1/4">
        <label class="flex flex-row">Lipides</label><span>{{ food.lipid }} g</span>
    </div>
    <div class="flex flex-col items-center border-2 border-light-blue p-4 w-1/4">
        <label class="flex flex-row">Glucides</label><span>{{ food.carbohydrate }} g</span>
        </div>
    <div class="flex flex-col items-center border-2 border-light-blue p-4 w-1/4">
        <label class="flex flex-row">Protéines</label><span>{{ food.protein }} g</span>
    </div>
</div>