{% extends "base.html.twig" %}

{% block title %}{{ parent() }} - Mes repas{% endblock %}

{% block body %}

	<main role="main">

		<div
			{{ stimulus_controller('model-meal', {
				url: path('modal_meal_type_list'),
				urlRemove: path('model_meal_remove')
			}) }}
		>

			<div class="flex items-center">

				{{ include("partials/_header.html.twig", { h1_content: "Mes repas" }) }}

			</div>

			<div 
				class="bg-white p-6 rounded-2xl shadow-soft w-1/2"
				data-model-meal-target="content"
			>

				{{ include('meals/model/_list.html.twig') }}
				
			</div>

		</div>

	</main>

{% endblock %}