<div class="text-green-600 font-bold">
    Vos informations ont bien été enregistrées.
</div>

<script>
    setTimeout(() => {
        const modal = document.getElementById('weight-modal');
        modal.classList.add('hidden');
        document.body.style.overflow = 'auto';
        window.location.reload();
    }, 1200);
</script>
