 <div class="mb-5 text-left flex flex-col items-center gap-3">
    {{ form_label(form.energy) }}
    {{ form_errors(form.energy) }}
    <div class="flex justify-start w-full">
        {{ form_widget(form.energy) }}
        <div class="flex ml-5">
            {{ form_widget(form.unitMeasureEnergy) }}
        </div>
    </div>
</div>