<div class="pb-2 flex items-center justify-center text-base font-medium text-green-700 border-b border-green-700 w-full">
    {% trans from 'profile' %}profile.imc.title{% endtrans %}
</div>

<div class="pt-4 flex items-center justify-center my-2 text-xl text-green-700 font-bold relative w-full h-full px-16">
    {% if app.user.imc %}
        {{ app.user.imc|round }}
    {% else %}
        <span class="text-sm">Il nous manque des informations afin que nous puissions calculer votre IMC. 
            <a href="#" class="text-sm text-dark-blue">En savoir plus</a>
        </span>
    {% endif %}
</div>