<div class="flex h-full justify-center items-center">

    <div class="progressbar-wrapper">

        <div title="downloaded" class="progressbar" style="width: {{ratio * 100}}%">
            {{ ratio|format_number(style='percent') }}
        </div>
        
    </div>

</div>