{% extends "base.html.twig" %}

{% block body %}

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

        {{ form_row(form) }}

        <button type="submit">Valider</button>

    {{ form_end(form, {'render_rest': false}) }}

{% endblock %}