<span class="rounded-full flex items-center justify-center" style="width:2.5rem; height:2.5rem">
    {{ include('partials/pictos/foodgroup/' ~ fg.code ~ '.xml.twig', {'color' : fg.parent.color }) }}
</span>