
{# <el-dropdown class="inline-block">
  <button class="inline-flex w-full text-light-blue justify-center gap-x-1.5 rounded-md bg-white px-3 py-2">
    <svg width="40px" height="40px" fill="none" viewBox="0 0 24 24" stroke="currentColor" id="user" class="text-cool-gray-800 dark:text-cool-gray-200 group-hover:text-purple-600 group-focus:text-purple-600 dark:group-hover:text-purple-50 dark:group-focus:text-purple-50">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"></path>
    </svg>
  </button>

  <el-menu anchor="bottom end" popover class="w-80 origin-top-right divide-y divide-gray-100 rounded-md bg-white shadow-lg ring-1 ring-black/5 transition transition-discrete [--anchor-gap:--spacing(2)] focus:outline-hidden data-closed:scale-95 data-closed:transform data-closed:opacity-0 data-enter:duration-100 data-enter:ease-out data-leave:duration-75 data-leave:ease-in">
    {{ include('navigation/_menu_dropdown_content.html.twig') }}
  </el-menu>
</el-dropdown> #}



{# <button id="dropdownDefaultButton" data-dropdown-toggle="dropdown" class="" type="button">
    <svg width="40px" height="40px" fill="none" viewBox="0 0 24 24" stroke="currentColor" id="user" class="text-light-blue"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"></path></svg>
</button>

<!-- Dropdown menu -->
<div id="dropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow-sm w-80">
    {{ include('navigation/_menu_dropdown_content.html.twig') }}
</div> #}

{# <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle cursor-pointer focus:outline-none" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <svg width="40px" height="40px" fill="none" viewBox="0 0 24 24" stroke="currentColor" id="user" class="text-light-blue"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"></path></svg>
  </button>
  <div class="dropdown-menu z-10 bg-white divide-y divide-gray-100 rounded-lg shadow-sm w-80" style="left: -250px; border: none" aria-labelledby="dropdownMenuButton">
    {{ include('navigation/_menu_dropdown_content.html.twig') }}
  </div>
</div> #}

<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown link
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</li>



