<nav class="w-full text-dark-blue font-bold uppercase relative bg-blue-50 shadow-sm">

    {% if app.user.firstFillProfile is same as(false) %}

        {{ render(controller('App\\Controller\\ProfileController::progressBar')) }}

    {% else %}
   
        <ul class="flex items-center h-full px-5 py-1">
            
            <li class="inline-block pr-3 py-2 text-dark-blue">

                <a href="{{ path('menu_week_get_meals', {date: "now"|date('Y-m-d')}) }}" title="Mes repas du jour">
                    Mes repas du jour
                </a>
                
            </li>

            <li class="inline-block pr-3 py-2 text-dark-blue">

                <a href="{{ path('menu_week_menu') }}" title="Mes repas de la semaine">
                    Mes repas de la semaine
                </a>

            </li>

            <li class="ml-auto flex gap-2">
               
                {% if is_granted('IS_IMPERSONATOR') %}
                    <a href="{{ impersonation_exit_path(path('app_homepage')) }}">Exit impersonation</a>
                {% endif %}

            </li>

        </ul>

    {% endif %}

</nav>
