<div class="list-fgp flex items-center justify-end w-1/2 gap-6">

	{% for foodGroupParent in foodGroupParents %}

		<a href="#" class="fgp" title="{{ foodGroupParent.name }}">

			<div class="picto w-12 rounded-full flex items-center justify-center">

				{{ include('meals/pictos/foodgroupparent/' ~ foodGroupParent.alias ~ '.xml.twig', {'color': foodGroupParent.color }) }}
				
			</div>
		
		</a>

	{% endfor %}

</div>

