{# Étend le layout de base de l’application #}
{% extends "base.html.twig" %}

{# Titre de la page, hérite du titre parent et ajoute “- Repas du jour” #}
{% block title %}
    {{ parent() }}
    - Repas du jour
{% endblock %}

{# Contenu principal de la page #}
{% block body %}

    {# Conteneur principal pour la vue des repas du jour #}
    <div id="meals-day">

        {# Inclusion du template qui contient toute la logique et l’affichage des repas du jour #}
        {{ include('meals/day/_meals_day.html.twig') }}

    </div>

{% endblock %}