{% for item in results %}
	{{ include("meals/day/_dish.html.twig") }}	
{% else %}
	<h1 class="mt-32 text-gray-400 text-xl">Aucun plats trouvés</h1>
{% endfor %}

<input 
    type="hidden"
    data-reload-content-target="lastResults"
    value="{{ lastResults|default(false) }}"
/>

