{% for item in results %}
	{{ include("meals/day/_dish.html.twig") }}	
{% else %}
    <h1 class="empty-title">Aucun plats trouvés</h1>
{% endfor %}

<input 
    type="hidden"
    data-reload-content-target="lastResults"
    value="{{ lastResults|default(false) }}"
/>

