:root {
    --success: #00b894;
    --progress: #e17055;
  }
  
  .progressbar-wrapper {
    background-color: #dfe6e9;
    color: white;
    border-radius: 15px;
    width: 75%;
  }
  
  .progressbar {
    background-color: var(--progress);
    color: white;
    padding: 0.1rem;
    text-align: right;
    font-size: 0.8rem;
    border-radius: 15px;
  }
  
  .progressbar[title="downloading"] {
     background-color: var(--progress);
  }
  
  .progressbar[title="downloaded"] {
     background-color: var(--success);
  }