<div class="modal fade" id="alertMealModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content rounded-3xl shadow-lg overflow-hidden">

      <!-- Header -->
    <div class="flex items-center justify-end text-light-blue p-4">

        <button 
            type="button"
            class="w-8 h-8 flex items-center justify-center rounded-lg hover:bg-white/20 transition"
            data-dismiss="modal"
            aria-label="Close"
        >
            <svg class="w-4 h-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                <path stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
            </svg>
        </button>
    </div>

      <!-- Body -->
      <div class="p-5 min-h-[8rem]">
        <div class="hidden w-full h-24 flex items-center justify-center" data-alert-meal-modal-target="loader">
          <div class="loader"></div>
        </div>
        <div class="hidden text-base px-4 flex flex-col" data-alert-meal-modal-target="content"></div>
      </div>

      <!-- Footer -->
      <div class="p-5 flex justify-end rounded-b-3xl">
        <button type="button" class="bg-light-blue text-white font-bold rounded-lg px-6 py-2.5 text-lg shadow hover:bg-blue-600 transition" data-dismiss="modal">
          OK
        </button>
      </div>

    </div>
  </div>
</div>
