<div class="flex flex-col md:flex-row mb-4 text-lg w-full gap-2">
    <button
        class="inline-block py-3 px-4 font-semibold bg-light-blue text-white tabs-content-evolution_tab rounded-lg text-sm lg:text-lg leading-4 hover:bg-sky-600 transition duration-300 hover:text-white"
        data-evolution-target="weight"
        data-action="click->evolution#changeContent"
        data-category="Weight"
    >
        Poids et IMC
    </button>
    <button
        class="inline-block py-3 px-4 font-semibold bg-white text-dark-blue tabs-content-evolution_tab rounded-lg text-sm lg:text-lg leading-4 hover:bg-sky-600 transition duration-300 hover:text-white"
        data-evolution-target="energy"
        data-action="click->evolution#changeContent"
        data-category="Energy"
    >
        Votre énergie
    </button>
    <button 
        href="#" 
        class="inline-block py-3 px-4 font-semibold bg-white text-dark-blue tabs-content-evolution_tab rounded-lg text-sm lg:text-lg leading-4 hover:bg-sky-600 transition duration-300 hover:text-white"
        data-action="click->evolution#changeContent"
        data-category="Fgp"
    >
        Les groupes d'aliments
    </button>
    <button
        href="#" 
        class="inline-block py-3 px-4 font-semibold bg-white text-dark-blue tabs-content-evolution_tab rounded-lg text-sm lg:text-lg leading-4 hover:bg-sky-600 transition duration-300 hover:text-white"
        data-action="click->evolution#changeContent"
        data-category="Nutrient"
    >
        Les nutriments
    </button>
</div>