{% extends 'emails/emailBase.html.twig' %}

{% block content %}

    <h1>Welcome {{ email.toName }}!</h1>

    <p>
        You signed up as {{ username }} the following email:
    </p>

    <p><code>{{ email.to[0].address }}</code></p>

    <p>
        <a href="{{ signedUrl }}">Click here to activate your account</a>
    </p>

{% endblock %}