{# Conteneur principal pour l’ensemble des graphiques d’évolution #}
<div class="content bg-white p-6 rounded-2xl shadow-balanced">

    {# Titre indiquant la période sélectionnée #}
    <h1 class="text-xl md:text-2xl xl:text-3xl mb-4">
        Votre évolution sur la période du {{ start|date('d/m/Y') }} au {{ end|date('d/m/Y') }}
    </h1>

    {# Conteneur flexible pour afficher plusieurs graphiques #}
    <div class="flex flex-wrap w-full mt-8 bg-white">
        
        {# Boucle sur tous les graphiques disponibles pour les afficher #}
        {% for chart in charts %}
            <div class="w-full lg:w-1/2">
                {# Affiche chaque graphique avec render_chart #}
                {{ render_chart(chart) }}
            </div>
        {% endfor %}
        
    </div>

</div>