<button 
        type="button"
        class="font-semibold text-gray-900 px-4 py-3 text-sm lg:text-lg cursor-pointer bg-gray-100 rounded-lg hover:bg-gray-200 transition duration-300 hover:text-gray-900"
        data-action="reload-content#onSelectGlutenFood"
    >
    Sans gluten
</button>

<button 
        type="button"
        class="font-semibold text-gray-900 px-4 py-3 text-sm lg:text-lg cursor-pointer bg-gray-100 rounded-lg hover:bg-gray-200 transition duration-300 hover:text-gray-900"
        data-action="reload-content#onSelectLactoseFood"
    >
    Sans lactose
</button>