{# explication du principe de l'imc #}
<p>
	<code class="flex text-2xl font-bold justify-center p-4 text-center">IMC = poids (kg) ÷ (taille (m))²</code><br>
</p>

<p>
    L'Indice de Masse Corporelle (<strong>IMC</strong>) est un indicateur simple permettant d'évaluer la corpulence d'une personne. 
    Il se calcule à partir du <strong>poids</strong> (en kilogrammes) et de la <strong>taille</strong> (en mètres)	.
</p>

<p>
    L'IMC sert à déterminer si votre poids se situe dans la norme, est insuffisant ou excessif. 
    Il ne prend pas en compte la composition corporelle (masse musculaire vs masse grasse), mais reste un outil utile pour identifier les risques liés au poids.
</p>

<p>
    Les catégories d’IMC les plus couramment utilisées sont : 
    <strong>moins de 18,5</strong> pour un poids insuffisant, 
    <strong>18,5 à 25</strong> pour un poids normal, 
    <strong>25 à 30</strong> pour un excès de poids, et 
    au-delà de <strong>30</strong> pour l’obésité. 
</p>

<p>
    L'IMC considéré comme “normal” se situe donc généralement entre <strong>18,5 et 25</strong>. 
    Être en dehors de cette fourchette peut signifier un risque accru de problèmes de santé, tels que des troubles cardiovasculaires, du diabète ou d'autres complications liées au poids.
</p>

<p>
    Pour chaque individu, il est important de considérer l’IMC comme un indicateur parmi d’autres, à compléter par une évaluation globale incluant l’alimentation, l’activité physique et l’état de santé général.
</p>

<ul class="list-disc list-inside ml-4">
	<li>L'IMC est un indicateur, mais ne remplace pas un avis médical.</li>
	<li>Un IMC trop bas ou trop élevé peut avoir des conséquences sur la santé.</li>
	<li>Pour ajuster votre IMC, combinez alimentation équilibrée et activité physique adaptée.</li>
</ul>
