<a href="{{ path(category.route) }}" class="dashboard_category-grid col-span-12 sm:col-span-6 xl:col-span-4 relative">

    <div class="card-wrapper flex items-center gap-4 relative py-8 px-4 h-full bg-white border-gray-200 rounded-2xl shadow-soft">

        <div class="rounded-full flex items-center justify-center bg-sky-600 w-20 h-20 p-3.5 text-dark-blue">
            {{ include("dashboard/pictos/picto_#{category.picto}.xml.twig") }}
        </div>

        <span class="flex gap-2 font-bold items-center text-base text-center text-sky-600">
            {{ category.title|trans({}, 'dashboard')|upper }}
        </span>

    </div>

</a>