<div
    data-weight-chart-url-value="{{ path('app_evolution_chart_weight') }}"
    data-weight-chart-target="modal"
    class="fixed inset-0 bg-black bg-opacity-50 items-center justify-center z-50 hidden"
>
    {# Fond semi-transparent couvrant tout l’écran, modal masqué par défaut #}

    <div class="bg-white px-6 pt-8 pb-6 rounded shadow-lg max-w-4xl w-full relative">
        {# Contenu du modal, centré et responsive #}

        {# Bouton de fermeture #}
        <button data-action="weight-chart#close" class="absolute top-4 right-4 text-xl hover:bg-gray-100 duration-300 transition font-bold p-3 rounded-full">
            <svg class="w-5 h-5 text-sky-600" fill="none" viewbox="0 0 14 14" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"></path>
            </svg>
        </button>

        {# Titre du modal #}
        <h2 class="text-xl font-bold mb-4">
            Évolution de votre poids
        </h2>

        {# Zone où le graphique sera injecté via AJAX #}
        <div data-weight-chart-target="content">
            <!-- Contenu AJAX ici -->
        </div>
    </div>
</div>