 <!--Modal-->
  <div class="modal opacity-0 pointer-events-none fixed w-full h-full top-0 left-0 flex items-center justify-center">
    <div class="modal-overlay absolute w-full h-full bg-gray-900 opacity-50"></div>
    
    <div class="modal-container bg-white w-1/4 w-md mx-auto rounded shadow-lg z-50 overflow-y-auto">
      
      <!-- Add margin if you want to see some of the overlay behind the modal-->
      <div class="modal-content text-left">
        <!--Title-->
        <div class="flex justify-end items-center pt-3 pr-3">
          <div class="modal-close cursor-pointer z-50">
            <svg class="fill-current text-black" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
              <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"></path>
            </svg>
          </div>
        </div>

        <!--Body-->
        <div class="px-10 pb-10">

            <h1 class="text-2xl font-bold mb-3">Ajout d'aliment</h1>

            <p class="my-4">Veuillez indiquer la quantité de <span id="modal-food-name" class="text-a"></span> que vous souhaitez ajouter au plat :</p>

            {{ form_row(dishForm.quantityFood.foodId, {'id' : 'modal-food-id'}) }}

            <div class="flex items-center gap-2 mb-6">
                {{ form_widget(dishForm.quantityFood.quantity) }}
                {{ form_widget(dishForm.quantityFood.unitMeasure) }}
            </div>

            <div class="button-group flex justify-center gap-4">
                <button type="button" class="modal-close text-dark-blue border border-blue-500 px-4 py-2 rounded font-bold">Annuler</button>
                {{ form_widget(dishForm.saveQuantityFood) }}
            </div>

        </div>
        
      </div>

    </div>

</div>