<div class="flex flex-col relative">
    <div class="flex flex-wrap shadow-md bg-white absolute top-0 w-full z-20" data-loading="addClass(opacity-50)">     
        {% for row in foods|batch(2) %}
            {% for food in row %}
                {{ include("dish/_search_row_food.html.twig") }}
            {% endfor %}
        {% else %}
            <div class="text-lg p-4">Aucun aliment ne correspond à "{{ query }}"</div>
        {% endfor %}
    </div>
</div>