<div {{ stimulus_controller('autocomplete', { url: path('meal_day_list_ajax'), skipHiddenProperty: true } ) | stimulus_controller('autocomplete-transition', {}) }} data-action="toggle->autocomplete-transition#toggle">

	<input name="q" type="search" class="block p-4 w-full rounded-lg border border-slate-800" placeholder="Aliment, plat..." data-autocomplete-target="input">

	<div class="search-preview border rounded overflow-y-auto" data-autocomplete-target="results" data-autocomplete-transition-target="results"></div>

</div>
