{% extends "bundles/TwigBundle/Exception/base.html.twig" %}

{% block body %}

    <div style="background-color: #4cc9f0">
        <!-- BEGIN: Error Page -->
        <div class="error-page flex flex-col lg:flex-row items-center justify-center h-screen text-center lg:text-left">
            <div class="-intro-x lg:mr-20">
                <img alt="Icewall Tailwind HTML Admin Template" class="h-48 lg:h-auto" src="{{ asset('images/error-illustration.svg') }}">
            </div>
            <div class="text-white mt-10 lg:mt-0">
                <div class="intro-x text-8xl font-medium">403</div>
                <div class="intro-x text-xl lg:text-3xl font-medium mt-5">Oups, accès refusé !</div>
                <div class="intro-x text-lg mt-3">Vous n’êtes pas autorisé à accéder à cette page ou à cette ressource.</div>
                <a href="{{ path('app_homepage') }}" class="intro-x btn py-3 px-4 text-white border-white dark:border-dark-5 dark:text-gray-300 mt-10">Revenir à l'accueil</a>
            </div>
        </div>
        <!-- END: Error Page -->
    </div>

{% endblock %}