
<span class="rounded-full flex items-center justify-center" style="width:2.5rem; height:2.5rem; background-color:{{ fgp.degradedColor }}">
    {{ include('partials/pictos/foodgroupparent/' ~ fgp.code ~ '.xml.twig', {'color' : fgp.color }) }}
</span>