{% for key, messages in app.flashes() %}

	{% if key == 'welcome_modal' %}

		{% include 'homepage/_welcome_modal.html.twig' %}

	{% else %}

		{% for message in messages %}

			{{ include('partials/alert/_alert.html.twig') }}

		{% endfor %}

	{% endif %}

{% endfor %}

<div id="alert-ajax" class="hidden"></div>
